<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AVALIAÇÃO FORMADORA 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id ="foto">
    <img src="assets/imgs/me.jpeg" alt="minha foto">
  </div>

  <div id="container">    
    <strong>RODRIGO FERREIRA SILVA
    </strong>
    <br>
    <strong>23107942
    </strong>
  </div>
</ion-content>
